.test
{

}


.main-pane
{
    -fx-background-radius: 12px 12px 10px 10px;
}

.content
{
    -fx-background-color: rgba(178, 178, 178, 0.32);
    -fx-background-radius: 0 0 10px 10px;
}



.content-pane
{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.tip-pane
{
    -fx-background-color: rgb(255,243,205);
    -fx-background-radius: 10px;
}


.save-button
{
    -fx-background-color: #5d6ce4;
}

.save-button:hover
{
    -fx-background-color: #525fca;
}

.save-button:pressed
{
    -fx-background-color: #4e59b9;
}

.save-button:disabled
{
    -fx-background-color: rgba(93, 108, 228, 0.81);
}


.text-field
{
    -fx-background-color: rgba(220, 220, 235, 0.62);
}