.test
{

}


.main-pane
{
    -fx-background-radius: 12px 12px 10px 10px;
}

.content
{
    -fx-background-color: rgba(178, 178, 178, 0.32);
    -fx-background-radius: 0 0 10px 10px;
}


.name-pane
{
    -fx-background-color: white;
    -fx-background-radius: 10px;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}


.text-field
{
    -fx-background-color: rgba(220, 220, 235, 0.62);
}


.download-button
{
    -fx-background-color: #5d6ce4;
}

.download-button:hover
{
    -fx-background-color: #525fca;
}

.download-button:pressed
{
    -fx-background-color: #4e59b9;
}

.download-button:disabled
{
    -fx-background-color: rgba(93, 108, 228, 0.81);
}